I
{
	color: #396398;
	font-size: 12px;
	text-align: center;
}

.titre
{
	font-size: 31px;
	font-family: cursive;
	color: #00ff00;
	clear:both;
	text-align: center;
	text-shadow: 0px 0px 3px #000000;
}

.titre2
{
	font-size: 24px;
	color: #0000ff;
	clear:both;
	text-align: center;
	text-shadow: 0px 0px 3px #ffffff;
}

.texte
{
	margin-left: 20px;
	margin-right: 30px;
	font-size: 16px;
	color: white;
	text-indent: 40px;
    margin-top: 12vh;
	text-shadow: 0px 0px 3px #000000;
}

.flotte
{
	float:left;
}

.image
{
	display:block;
    margin-left: 30px;
    margin-right: 50px;
}

.retour
{
	width: 3em;
	float:left;
	margin-left: 10px;
	color: #666666;
	border:0px;
}

p, h1
{
	font-family: cursive;
	color:white;
}

.left {float:left;
}

.right {float:right;
padding-top: 10px;
}

.clr {clear:both}

.animated
{
	display:block;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
	
-moz-transition-duration:4s;
-moz-transition-timing-function:linear;
-webkit-transition-duration:4s;
-webkit-transition-timing-function:linear;
transition-duration:0.5s;
transition-timing-function:linear;	

border:none;
}

img:hover {
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
transform:rotate(360deg);
}

header
{
	display:block;
	width: 100%;
	margin: 0;
	background-color: #666666;
	padding: 10px 25px;
	box-sizing: border-box;
}

body, html
{
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding:0;
}

body
{
    background-image: url("../Images/Background.png");
}


img
{
	display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    border:3px dotted black;
}

li
{
	color:#ffffff;
	margin-left: 50px;
	text-shadow: 0px 0px 3px #000000;
	
	display: inline-block;
	list-style-type: none;
	padding-left: 10px;
}

li a
{
	text-decoration: none;
	color : white;
	font-family: fantasy;
	font-weight: normal;
	font-size: 1.6em;
}